@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
        
body {
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #111;
    scroll-behavior: smooth;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.horizontal-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.horizontal-section {
    display: flex;
    flex-wrap: nowrap;
    width: 300vw;
    height: 100vh;
}

.panel {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header content";
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: opacity 0.5s ease-in-out;
    padding-right: 5%;
    padding-left: 5%;
}

.panel-1 {
    background-image: url(./image1.jpg);
    background-color: rgba(30, 58, 138, 0.8);
}

.panel-2 {
    background-image: url(./image2.jpg);
    background-color: rgba(22, 101, 52, 0.8);
}

.panel-3 {
    background-image: url(./image3.jpg);
    background-color: rgba(91, 33, 182, 0.8);
}

.panel h1 {
    grid-area: header;
    text-align: left;
    font-size: 10rem;
    letter-spacing: 0.1em;
    display: block;
    color: white;
    text-shadow: 30px 30px 30px rgba(0, 0, 0, 0.8);
}

.panel p {
    grid-area: content;
    text-align: right;
    font-size: 2rem;
    display: block;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.route-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 3px;
    height: 0;
    background-color: white;
    top: 0;
    transition: height 1.5s ease-out;
}

.line-left {
    left: 20%;
}

.line-right {
    right: 20%;
}

.line-horizontal {
    position: absolute;
    height: 3px;
    width: 0;
    background-color: white;
    top: 30%;
    transition: width 1.5s ease-out;
}

.line-horizontal-left {
    left: 20%;
}

.line-horizontal-right {
    right: 20%;
}

.route-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.route-section-content h1 {
    font-size: 7rem;
    background: linear-gradient(to right, #b8d8ba, #D9DBBC, #FCDDBC);
    background: -webkit-linear-gradient(to right, #b8d8ba, #D9DBBC, #FCDDBC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.route-section-content p {
    font-size: 2rem;
    color: white;
}

.section a {
    display: inline-block;
    position: relative;
    color: rgb(130, 216, 209);
}

.section a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.section a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.invite {
    text-align: center;
    backdrop-filter: blur(4px);
    backdrop-filter: brightness(0.2);
    width: 100vw;
    height: 100vh;
}

.last-title {
    font-size: 6rem;
    text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.last-content {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.demo-ver {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 3s ease-in-out;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-frame {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    animation: fadeIn 4s ease-in-out;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 10px rgba(207, 207, 207, 0.8);
    font-size: 6.5rem;
    font-weight: bold;
    animation: fadeInText 3s ease-in-out;
}

.description {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 10px rgba(207, 207, 207, 0.8);
    font-size: 2rem;
    animation: fadeInText 2s ease-in-out;
    text-align: center;
}

.navbar {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 1200px;
        background: rgba(255, 255, 255, 0.3);
        padding: 15px 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        z-index: 100;
}

.nav-links {
        display: flex;
        gap: 35px;
        list-style: none;
}

.nav-links a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s;
}

.nav-links a:hover {
        color: #007bff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
